<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
</head>
<body>
    <%= flight.airline %>
    <%= flight.airport %>
    <%= flight.flightNo %>
    <%= flight.departs %>
    <%= flight.arrival %>
    <label>Flight Arrival Time</label>
    <input type="date" name="arrival">
    <br>
    <label>Flight Destination</label>
    <input type="text" name="destination">
    <br>
    <input type="submit" value="add flight">
    <%= flight.destination %>
    <%= flight.ticket %>
</body>
</html>